html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(251, 242, 244);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  margin-left: 0;
}

::selection {
  background-color: #aa66cc;
  color: #ffffff;
}

@media (min-width: 992px) {
  .col-lg-4 {
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
  }
}
